<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee Login - CATS</title>
</head>
<body>
    <h1>CATS - Employee Login</h1>

    <div th:if="${errorMessage}" th:text="${errorMessage}" style="color:red;"></div>

    <form th:action="@{/employee/login}" method="post">
        <label>Username: <input type="text" name="username" required /></label><br><br>
        <label>Password: <input type="password" name="password" required /></label><br><br>
        <button type="submit">Login</button>
    </form>
</body>
</html>